<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>371601784306-dopcrcfo5p33eq8vr9q2kt2vifi3dbtt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.371601784306-dopcrcfo5p33eq8vr9q2kt2vifi3dbtt</string>
	<key>API_KEY</key>
	<string>AIzaSyCQNXaZ8TjYkmQVqQOeWV42SddW8APaDtE</string>
	<key>GCM_SENDER_ID</key>
	<string>371601784306</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>RES-app</string>
	<key>PROJECT_ID</key>
	<string>res-app-f8741</string>
	<key>STORAGE_BUCKET</key>
	<string>res-app-f8741.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:371601784306:ios:d3b64bf6dfddaea835bf6b</string>
	<key>DATABASE_URL</key>
	<string>https://res-app-f8741.firebaseio.com</string>
</dict>
</plist>
